@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background:   darkturquoise;
    overflow:visible;
}

.topLogo {
   top: 0em;
   padding-top: 1em;
   padding-bottom: 1em;
   background: darkturquoise;
position:sticky;
display: flex;
justify-content: center;
}

.welcomeText {
  text-align: center;
  width: 100%;
    color:white;
    font-size: 0.8em;
    line-height: 1.1em;
    padding-bottom: 60px;
}

.patientProfile {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
    color:white;
    font-size: 0.7em;
    line-height: 1.7em;
}



.button {
    font-family: 'Montserrat', sans-serif;
     font-weight: 500;
  background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: none;
  color: darkturquoise;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
    border-radius: 20px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;

}

.button:active{
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.09);
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-color: DodgerBlue; */
}

.flex-container > div {
  width: 14em;
  padding: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}



a {
    font-weight: 700;
    color: black;
    font-family: 'Poppins', sans-serif;
    transition: color 0.6s;
    text-decoration: none;
}

a:hover {
   transform: scaleX(1.1);
}


.patientInfo {

    color:white;
    text-align: center;
    font-size: 1em;
    line-height: 1.2em;
    padding-bottom: 80px;
}
.patientNum {

  font-weight: 700;
  font-size: 5em;
  color: white;
     font-family: 'Poppins', sans-serif;
  transition: color 0.6s;
  text-decoration: none;
  padding-bottom: 80px;
}


.zoom {

align-items: center;
  margin: 0 auto;
}

.zoom:hover {
  /* transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */ */
}


/*display test */

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
  padding-top: 30px;
  padding-bottom: 50px;
padding-left: 25px;
  text-align: left;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'See your file (📁)';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Hide your file (📁)';
}

.read-more-trigger {
  display: inline-block;
  padding: 0 .5em;
  color: darkturquoise;
  border: none;
  font-size: .9em;
  font-family: 'Montserrat', sans-serif;
   font-weight: 500;
background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

padding: 8px 10px;
text-align: center;
text-decoration: none;
  border-radius: 20px;
font-size: 16px;
margin: 4px 2px;
}

.read-more-trigger:active{
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.09);
}
/* Other style */
/* body {
  padding: 2%;
} */

/* p {
  padding: 2%;
  background: #fff9c6;
  color: #c7b27e;
  border: 1px solid #fce29f;
  border-radius: .25em;
} */
